@layer components {

  .animate-link {
    @apply relative
    before:absolute
    before:block
    before:h-px
    before:bg-yellow
    before:transition-all
    before:w-full
    before:duration-300
    before:bottom-0
    before:left-1/2
    before:-translate-x-1/2
    before:max-w-0
    hover:before:max-w-full
    active:before:max-w-full
    group-hover:before:max-w-full
    group-hover:before:bg-yellow;

    &.text-green-light {
      @apply before:bg-green-light;
    }

    &.big\:text-grey-300 {
      @apply before:bg-grey-300
      hover:before:bg-yellow
      active:before:bg-yellow;
    }

    &.text-white {
      @apply before:bg-white
      hover:before:bg-yellow
      active:before:bg-yellow;
    }
  }
}